.brand{
text-align: center;
&__head-title{
    font-size: 2.8rem;
}
&__head-descr{
    margin: 1.5rem;
    font-size: 1.3rem;
    color: #6A6A6A;
}
&__links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
&__links-pic{
    
}
}