.upcoming__header {
  display: flex;
  justify-content: space-between;
  &__header-title {
    color: #242565;
    font-size: 2.5rem;
}

  &__header-form {
    display: flex;
    gap: 10rem;
    margin-right: 3rem;
  }
}
// .upcoming__header-title {
//   color: #242565;
//   font-size: 2.5rem;
// }
