button {
  background-color: #f5167e;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  padding: 0.7rem 2.3rem;
  border-radius: 1.7rem;
}
button:hover {
  background-color: red;
}
button:active {
  background-color: blue;
  color: yellow;
}
