.footer__cont-marketplace-list-line-link {
  text-decoration: none;
  color: #f3f3f3;
}
.footer__cont-marketplace-list-line {
  list-style-type: none;
}
.footer__cont-eventick-list-line {
  list-style-type: none;
  padding-top: 0.5rem;
}
.footer__cont-marketplace-list-line {
    list-style-type: none;
    padding-top: 0.5rem;
  }
.footer__cont-eventick-list-line-link {
  text-decoration: none;
  color: #f3f3f3;
}
.footer__cont-eventick-list-line-link:hover{
  color: red;
}
.footer__cont-eventick-list-line-link:active{
  color: yellow;
}
.footer__cont-marketplace-list-line-link:hover{
  color: red;
}
.footer__cont-marketplace-list-line-link:active{
  color: yellow;
}
.footer__cont-marketplace-list-head {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.footer__cont-eventick-list-head {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}
.footer__cont-nft-bottom-link:hover{
  transform: translate(0, -0.5rem);
}