.upcoming__header-form-search {
  background-color: #f2f4ff;
  color: #1d275f;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  padding: 0.7rem 2.3rem;
  border-radius: 1.6rem;
}
select:focus {
  outline: 0.15em solid #00f;
  box-shadow: 0 0 0.2em #00f;
}
select:hover {
  cursor: pointer;
}
