* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 15px 50px 50px;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 7rem;
}

.container {
  max-width: 1086px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  background-color: #F5167E;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #FFFFFF;
  padding: 0.7rem 2.3rem;
  border-radius: 1.7rem;
}

button:hover {
  background-color: red;
}

button:active {
  background-color: blue;
  color: yellow;
}

.banner {
  margin: 0 auto;
  width: 100% vw;
  position: relative;
  background-color: blueviolet;
  background-image: url(/src/assets/banner-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
.banner__zal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner__header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.banner__header-logo {
  grid-column: 1/2;
}
.banner__header-nav {
  grid-column: 3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.banner__header-btn {
  grid-column: 4/-1;
  border: solid 2px;
  background-color: rgba(0, 125, 215, 0);
}
.banner__header-nav-link {
  list-style-type: none;
}
.banner__header-nav-link-a {
  font-size: 1.15rem;
  color: #FFFFFF;
  text-decoration: none;
}
.banner__header-nav-link-a:hover {
  color: red;
}
.banner__header-nav-link-a:active {
  color: yellow;
}
.banner__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 6rem;
}
.banner__content-img {
  max-width: 60rem;
}
.banner__content-main {
  font-size: 2.8rem;
  padding-top: 6rem;
}
.banner__content-main-title {
  font-size: 2.5rem;
}
.banner__content-main-text {
  padding-top: 1.5rem;
  font-size: 1.125rem;
}
.banner__content-main-btns {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.banner__content-main-btns-info-btn {
  border: solid 2px;
  background-color: rgba(0, 125, 215, 0);
}
.banner__footer {
  max-width: 100%;
  background-color: #242565;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  border-radius: 1.25rem;
  position: relative;
  bottom: -7.5rem;
  gap: 5rem;
}
.banner__footer-request-inp {
  color: #ffffff;
  font-size: 1.375rem;
  margin-top: 1rem;
  width: 18rem;
  background-color: rgba(0, 125, 215, 0);
  border: none;
  border-bottom: solid 1px #7778b0;
}

@media screen and (max-width: 950px) {
  .banner__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
  }
  .banner__header-logo {
    position: absolute;
    left: 0;
  }
  .banner__header-menu-btn {
    right: 0;
  }
  .banner__header-nav {
    display: none;
  }
  .banner__header-btn {
    display: none;
  }
  .banner__content-img {
    display: none;
  }
  .banner__content {
    padding-top: 1rem;
  }
  .banner__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    left: 0;
    text-align: center;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 950px) {
  .banner__header-menu-btn {
    display: none;
  }
}
.banner__header-menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.banner__header-menu-btn:hover {
  cursor: pointer;
}

.banner__header-menu-btn-line {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.banner__header-menu-btn-line:hover {
  background-color: green;
}

.banner__header-menu-btn-line:nth-of-type(2) {
  top: calc(50% - 6px);
}

.banner__header-menu-btn-line:nth-of-type(3) {
  top: calc(50% + 6px);
}

#upcoming {
  text-align: center;
}

.upcoming__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upcoming__content {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}

.upcoming__header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.upcoming__header-title {
  color: #242565;
  font-size: 2.5rem;
}

.upcoming__content-event {
  border-radius: 1.25rem;
}

.upcoming__content-event-pic {
  width: 100%;
  border-radius: 1.4rem 1.4rem 0 0;
}

.upcoming__content-event:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-box-shadow: 0px 5px 5px 5px #e2e2e2;
          box-shadow: 0px 5px 5px 5px #e2e2e2;
}

.upcoming__content-event-box {
  text-align: start;
  display: grid;
  padding: 1rem;
  grid-template-areas: "d n n n n n n n n" ". a a a a a a a a";
  gap: 1rem;
}

.upcoming__content-event-date {
  grid-area: d;
}

.upcoming__content-event-name {
  grid-area: n;
}

.upcoming__content-event-descr {
  grid-area: a;
}

.upcoming__content-event-date-d {
  font-size: 2rem;
  text-align: center;
}

.upcoming__content-event-date-month {
  font-size: 0.8rem;
  color: #3d37f1;
  text-align: center;
}

.upcoming__content-event-name {
  font-size: 1.15rem;
}

.upcoming__content-event-descr {
  color: #6a6a6a;
  padding-bottom: 1rem;
}

.upcoming__btn {
  margin-top: 2rem;
  color: #3d37f1;
  border: solid 1.5px;
  background-color: rgba(0, 125, 215, 0);
}

@media screen and (max-width: 950px) {
  .upcoming__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .upcoming__header-form {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.upcoming__header-form-search {
  background-color: #f2f4ff;
  color: #1d275f;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  padding: 0.7rem 2.3rem;
  border-radius: 1.6rem;
}

select:focus {
  outline: 0.15em solid #00f;
  -webkit-box-shadow: 0 0 0.2em #00f;
          box-shadow: 0 0 0.2em #00f;
}

select:hover {
  cursor: pointer;
}

.create {
  background-color: #eee1ff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.create__img {
  position: absolute;
  bottom: 0;
}
.create__content {
  grid-column: 2/-1;
}
.create__content-head {
  margin-top: 1rem;
  font-size: 2.4rem;
}
.create__content-descr {
  margin-top: 1rem;
  font-size: 1.3rem;
}
.create__content-btn {
  margin-top: 1.5rem;
  padding: 1rem 5rem 1rem 5rem;
  font-size: 1.3rem;
}

@media screen and (max-width: 950px) {
  .create {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .create__img {
    display: none;
  }
}
.brand {
  text-align: center;
}
.brand__head-title {
  font-size: 2.8rem;
}
.brand__head-descr {
  margin: 1.5rem;
  font-size: 1.3rem;
  color: #6A6A6A;
}
.brand__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.blog {
  text-align: center;
}
.blog__head-title {
  font-size: 2.8rem;
  color: #242565;
}
.blog__head-descr {
  margin-top: 2rem;
  font-size: 1.3rem;
  color: #6a6a6a;
}
.blog__cont {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
}
.blog__cont-cell {
  border-radius: 1.25rem;
  width: 24.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  text-align: start;
}
.blog__cont-cell:hover {
  -webkit-transform: translate(0, -20px);
          transform: translate(0, -20px);
  -webkit-box-shadow: 0px 5px 5px 5px #e2e2e2;
          box-shadow: 0px 5px 5px 5px #e2e2e2;
}
.blog__cont-cell-img {
  width: 100%;
  border-radius: 1.4rem 1.4rem 0 0;
}
.blog__cont-head {
  font-size: 1.4rem;
  color: #242565;
}
.blog__cont-descr {
  font-size: 1.15rem;
}
.blog__cont-bottom {
  color: #a5a5a5;
}
.blog__btn {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: #3d37f1;
  border: solid 1.5px;
  background-color: rgba(0, 125, 215, 0);
}

@media screen and (max-width: 950px) {
  .blog__cont {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.footer {
  padding: 1rem;
  text-align: center;
  margin: 0 20 0 20;
  color: #ffffff;
  background-color: #0a075f;
}
.footer__cont {
  padding: 3rem;
  display: grid;
  grid-template-columns: 24rem 10rem 11rem 5rem 12rem 8rem 26rem;
  grid-auto-flow: dense;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__cont-nft {
  max-width: 24rem;
  grid-column: 1;
}
.footer__cont-marketplace {
  max-width: 11rem;
  grid-column: 3/4;
}
.footer__cont-eventick {
  max-width: 12rem;
  grid-column: 5/6;
}
.footer__cont-subscribe-field {
  max-width: 26;
  grid-column: 7/span 1;
}
.footer__cont-nft-descr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.footer__cont-nft-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.footer__cont-subscribe-field-cont {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.footer__copy {
  border-top: solid 1px;
  border-color: #4C4D8B;
  max-width: 100%;
  padding: 1rem;
}

.container {
  text-align: start;
}

@media screen and (max-width: 1366px) {
  .footer__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 1.5rem;
  }
  .footer__cont-nft-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.footer__cont-marketplace-list-line-link {
  text-decoration: none;
  color: #f3f3f3;
}

.footer__cont-marketplace-list-line {
  list-style-type: none;
}

.footer__cont-eventick-list-line {
  list-style-type: none;
  padding-top: 0.5rem;
}

.footer__cont-marketplace-list-line {
  list-style-type: none;
  padding-top: 0.5rem;
}

.footer__cont-eventick-list-line-link {
  text-decoration: none;
  color: #f3f3f3;
}

.footer__cont-eventick-list-line-link:hover {
  color: red;
}

.footer__cont-eventick-list-line-link:active {
  color: yellow;
}

.footer__cont-marketplace-list-line-link:hover {
  color: red;
}

.footer__cont-marketplace-list-line-link:active {
  color: yellow;
}

.footer__cont-marketplace-list-head {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.footer__cont-eventick-list-head {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.footer__cont-nft-bottom-link:hover {
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
}

.footer__cont-subscribe-field-email {
  background-color: rgba(0, 125, 215, 0);
  position: relative;
}

.footer__cont-subscribe-field-email-sub {
  position: absolute;
  background-color: #f5167e;
  border: none;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  color: #ffffff;
  padding: 0.7rem 2.3rem;
  border-radius: 1.7rem;
  top: 0.3rem;
  right: 0.4rem;
  font-size: 0.7rem;
}

.footer__cont-subscribe-field-email-sub:hover {
  background-color: red;
}

.footer__cont-subscribe-field-email-sub:active {
  background-color: blue;
  color: yellow;
}

.footer__cont-subscribe-field-email-reg {
  width: 100%;
  border: none;
  font-size: 0.7rem;
  font-family: "DM Sans", sans-serif;
  color: black;
  padding: 1rem 2.3rem;
  border-radius: 1.7rem;
}